:host {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;

  @media (max-width: 575px) {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

ul {
  margin: 0;
}

.mobile-options {
  display: none;
}

nav .nav-list {
  gap: 3px;
}

nav .nav-list > li {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.sub-nav-list {
  position: relative;
  cursor: pointer;
}

nav {
  height: fit-content;
  background-color: #166A48;
  border-radius: 34px;
  padding-inline: 34px !important;
  margin-top: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);

  @media (max-width: 575px) {
    padding-inline: 16px !important;
  }
}

img {
  cursor: pointer;
}

a {
  font-weight: 500;
  cursor: pointer;
  color: #FEFFFF !important;
  transition: color 0.4s ease-in-out;
}

a.active,
li:hover > a {
  color: #d0d0d0 !important;
  text-decoration: none !important;
}

.sub-nav-list a.active path,
.sub-nav-list:hover path {
  stroke: #d0d0d0;
}

.sub-nav-list path {
  transition: stroke 0.4s ease-in-out;
}

:host.scape {
  top: -200px;
  transition: top 0.3s ease-in-out;
}

:host.fixed {
  position: fixed;
  top: 0;
  z-index: 110;
  transition: top 0.5s ease-in-out;
}

.nav-list-mobile li:hover > a {
  color: white;
}

@media screen and (max-width: 1200px) {
  nav .nav-list {
    display: none !important;
  }
  .options .desktop {
    display: none !important;
  }
  .mobile-options {
    display: flex;
    position: relative;
  }
  .mobile-options svg {
    cursor: pointer;
  }
  .nav-list-mobile {
    width: 309px;
    background: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -20.5rem;
    transition: all 0.5s ease;
    padding: 31px 24px;
  }
  .nav-list-mobile.open {
    right: 0;
  }
  .nav-list-mobile-header {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    margin-bottom: 60px;
    justify-content: flex-end;
  }

  .nav-list-mobile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: flex;
      color: #166A48 !important;
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      align-items: center;
      justify-content: space-between;

      &.active {
        color: #D35D3D;
      }

      svg {
        min-width: 17px;
      }
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 7.75rem;
  }

  .nav-list-mobile-body {
    width: 100%;
  }

  .nav-list-mobile-body li {
    position: relative;
  }

  .nav-list-mobile-body > li {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .desktop-button {
    display: none !important;
  }

  nav {
    padding-inline: 1.25rem;
  }
}


.btn-transp.active, .btn-transp:hover {
  color: #D35D3D !important;
  border-color: #D35D3D !important;
}

