:root {
  /*
   * PLACEHOLDER FOR WORDPRESS GLOBAL STYLES
   * Para herdar a estilização correta do seu tema (cores, fontes, espaçamentos),
   * acesse seu site WordPress, clique em "Ver Código-Fonte", procure por
   * <style id="global-styles-inline-css"> e copie todo o conteúdo CSS
   * (o que está entre <style> e </style>) para este arquivo.
   */

  /* Variáveis Padrão (Fallback) */
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;

  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--very-light-gray: #eeeeee;
  --wp--preset--color--very-dark-gray: #313131;

  --wp--style--block-gap: 1.5em; /* Espaçamento padrão */
}

.has-text-align-center { text-align: center; }
.has-text-align-left { text-align: left; }
.has-text-align-right { text-align: right; }

