<section id="hero">
  <div class="container">
    <div class="texts">
      <span>G&R Soluções Agropecuárias</span>
      <h1>
        <span>Soluções</span> e <br /> Consultoria para o <br /> <span>Produtor Rural</span>
      </h1>
      <p>
        Você quer aumentar a sua produtividade e <br /> melhorar a sua gestão rural?
      </p>
      <button class="btn btn-transp">
        Entrar em contato!
      </button>
    </div>
  </div>
  <img class="home-img" src="assets/home-img.png" alt="">
  <div class="validations">
    <div>
      <h4>+20k</h4>
      <span>Produtores atendidos</span>
    </div>
    <div>
      <h4>+10</h4>
      <span>Anos de experiência</span>
    </div>
  </div>
</section>
<section id="what-we-do">
  <div class="container">
    <img src="assets/what-we-do.png" alt="Duas mulheres sorridentes vendo um notebook, letras abaixo na imagem dizendo produtor rural">
    <div class="texts">
      <h2>O que fazemos:</h2>
      <p>
        Na G&R Soluções Agropecuárias, conectamos tecnologia, expertise e cuidado para transformar desafios em oportunidades.
        Oferecemos soluções completas para produtores rurais, desde crédito rural e regularização ambiental até topografia e drones agrícolas.
        Nosso compromisso é simplificar processos, economizar tempo e garantir o crescimento sustentável do agronegócio.
      </p>
      <button class="btn btn-transp">Entrar em contato!</button>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="texts">
      <h2>Conheça os <br /> nossos <span>Serviços:</span></h2>
      <p>
        Com uma equipe qualificada e experiente,
        <br />
        atendemos às necessidades do produtor rural
        <br />
        com soluções práticas e personalizadas.
      </p>
      <button class="btn btn-transp">Saiba mais</button>
    </div>
    <div class="cards">
      <div class="card">
        <img src="assets/card-1.png" alt="">
        <h4>Gerenciamento de imóveis rurais e urbanos</h4>
        <p>Organizamos e regularizamos propriedades, garantindo conformidade com as normas legais.</p>
      </div>
      <div class="card">
        <img src="assets/card-2.png" alt="">
        <h4>Elaboração de projetos de crédito rural</h4>
        <p>Desenvolvemos projetos técnicos para viabilizar financiamentos e melhorar a gestão rural.</p>
      </div>
      <div class="card">
        <img src="assets/card-3.png" alt="">
        <h4>Regularização de documentos rurais</h4>
        <p>Auxiliamos na organização de documentos essenciais para operações no campo.</p>
      </div>
      <div class="card">
        <img src="assets/card-4.png" alt="">
        <h4>Licença ambientais</h4>
        <p>Emitimos e regularizamos licenças para garantir sustentabilidade e cumprimento da legislação ambiental.</p>
      </div>
    </div>
  </div>
  <img class="bg" src="assets/services.png" alt="">
</section>
<section id="branches">
  <div class="container">
    <img src="assets/branches.png" class="main-image" alt="">
    <div class="content">
      <h2>Para te atender:</h2>
      <div class="buttons">
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Sede: Guanhaes
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Curvelo
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Virginópolis
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          São Gotardo
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Capelinha
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Baixo Guandu
        </button>
      </div>
    </div>
  </div>
</section>
<section id="our-story">
  <div class="container">
    <img src="assets/video-our-story.png" class="video" alt="">
    <div class="texts">
      <h2>
        Saiba mais sobre
        <strong>A Nossa História</strong>
      </h2>
      <p>
        Desde a sua fundação, a G&R Soluções Agropecuárias tem como missão transformar o agronegócio brasileiro.
        Ao longo dos anos, evoluímos para atender às necessidades do produtor rural com serviços inovadores,
        tecnologia de ponta e uma equipe comprometida em oferecer soluções completas e personalizadas.
        <br />
        Hoje, com mais de uma década de experiência e presença em diversas regiões,
        seguimos com o mesmo propósito: apoiar o crescimento sustentável do agronegócio e
        fortalecer o setor rural.
      </p>
      <button class="btn btn-transp">Entrar em contato!</button>
    </div>
  </div>
</section>
<section id="blog">
  <div class="container">
    <h2>Blog</h2>
    <div class="posts">
      <div class="post">
        <img src="assets/post-1.png" alt="">
        <p>O Lorem Ipsum é um texto modelo da indústria</p>
        <strong>Ler mais</strong>
      </div>
      <div class="post">
        <img src="assets/post-2.png" alt="">
        <p>O Lorem Ipsum é um texto modelo da indústria</p>
        <strong>Ler mais</strong>
      </div>
      <div class="post">
        <img src="assets/post-3.png" alt="">
        <p>O Lorem Ipsum é um texto modelo da indústria</p>
        <strong>Ler mais</strong>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-green">Ver mais</button>
    </div>
  </div>
</section>
