<section id="hero">
  <div class="container">
    <div class="texts">
      <span>GR Soluções Agropecuárias</span>
      <h1>
        <span>Consultoria</span> e <br /> assessoria para <br /> <span>produtores rurais.</span>
      </h1>
      <p>
        Você quer aumentar a sua produtividade e <br /> melhorar a sua gestão rural?
      </p>
      <button class="btn btn-transp">
        Entrar em contato!
      </button>
    </div>
  </div>
  <img class="home-img" src="assets/home-img.png" alt="">
  <div class="validations">
    <div>
      <h4>+20k</h4>
      <span>Produtores atendidos</span>
    </div>
    <div>
      <h4>+10</h4>
      <span>Produtores atendidos</span>
    </div>
  </div>
</section>
<section id="what-we-do">
  <div class="container">
    <img src="assets/what-we-do.png" alt="Duas mulheres sorridentes vendo um notebook, letras abaixo na imagem dizendo produtor rural">
    <div class="texts">
      <h2>O que fazemos:</h2>
      <p>t O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro.</p>
      <button class="btn btn-transp">Entrar em contato!</button>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="texts">
      <img src="assets/logo-green.png" alt="">
      <h2>Conheça os <br /> nossos <span>Serviços:</span></h2>
      <p>
        Com uma equipe qualificada e experiente,
        <br />
        buscamos entender as necessidades e os
        <br />
        objetivos de cada cliente e oferecer soluções
        <br />
        personalizadas e eficientes.
      </p>
      <button class="btn btn-transp">Saiba mais</button>
    </div>
    <div class="cards">
      <div class="card">
        <img src="assets/card-1.png" alt="">
        <h4>Gerenciamento de imóveis rurais e urbanos</h4>
        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.</p>
      </div>
      <div class="card">
        <img src="assets/card-2.png" alt="">
        <h4>Elaboração de projetos de crédito rural </h4>
        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.</p>
      </div>
      <div class="card">
        <img src="assets/card-3.png" alt="">
        <h4>Regularização de documentos rurais</h4>
        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.</p>
      </div>
      <div class="card">
        <img src="assets/card-4.png" alt="">
        <h4>Licença ambientais</h4>
        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.</p>
      </div>
    </div>
  </div>
  <img class="bg" src="assets/services.png" alt="">
</section>
<section id="branches">
  <div class="container">
    <img src="assets/branches.png" alt="">
    <div class="content">
      <h2>Para te atender:</h2>
      <div class="buttons">
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Sede: Guanhaes
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Curvelo
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Virginópolis
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          São Gotardo
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Capelinha
        </button>
        <button class="btn btn-transp">
          <img src="assets/simple-logo.png" alt="">
          Baixo Guandu
        </button>
      </div>
    </div>
  </div>
</section>
<section id="our-story">
  <div class="container">
    <img src="assets/video-our-story.png" alt="">
    <div class="texts">
      <h2>
        Saiba mais sobre
        <br />
        <strong>A Nossa História</strong>
      </h2>
      <p>
        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro.
        <br />
        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto
      </p>
      <button class="btn btn-transp">Entrar em contato!</button>
    </div>
  </div>
</section>
</section>
