:host {
  display: block;
}

#hero {
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  .home-img {
    right: 0;
    position: absolute;
    top: 0;
    height: calc(100% - 106px);
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .texts {
      width: 50%;

      & > span {
        color: #5C5C5C;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
      }

      h1 {
        color: #121313;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 600;
        margin-block: 16px;

        span {
          color: #166A48;
        }
      }

      p {
        color: #626363;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 35px;
      }

      .btn {
        color: #121313;
        font-size: 18px;
        font-weight: 500;
        line-height: 156%;
        letter-spacing: 1.8px;
      }
    }
  }
  .validations {
    display: flex;
    height: 106px;
    background: #166A48;
    justify-content: space-between;

    div {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;

      &:first-child {
        border-right: 1px solid white;
      }

      h4 {
        color: #FFF;
        font-size: 64px;
        font-weight: 500;
        line-height: 156%;
        letter-spacing: 6.4px;
        margin: 0;
      }
      span {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 156%;
        letter-spacing: 1.418px;
      }
    }
  }
}

#what-we-do {
  background-color: #96BF19;
  padding-block: 76px;

  img {
    width: 120%;
    height: auto;
  }

  .container {
    display: flex;
    gap: 50px;
    align-items: center;

    .texts {
      h2 {
        color: #FFF;
        font-size: 40px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 4px;
        margin-bottom: 12px;
      }

      p {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 156%;
        letter-spacing: 1.6px;
        margin-bottom: 34px;
      }

      .btn {
        border-color: white;
        color: white;

        &:hover {
          color: white !important;
          background-color: transparent !important;
          border-color: white !important;
        }
      }
    }
  }
}

#services {
  display: flex;
  position: relative;
  margin-top: 74px;

  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .container {
    display: flex;

    .texts {
      flex: 1 1 auto;

      img {
        margin-bottom: 24px;
      }
      h2 {
        color: #4B4B4B;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.64px;
        margin-bottom: 16px;

        span {
          color: #96BF19;
        }
      }
      p {
        color: #666;
        font-size: 16px;
        font-weight: 400;
        line-height: 156%;
        letter-spacing: 1.6px;
        margin-bottom: 24px;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 34px;
      margin-bottom: 200px;

      .card {
        width: 339px;
        border-radius: 2.955px;
        border: 1.478px solid #FFF;
        background: #96BF19;
        display: flex;
        align-items: flex-start;
        padding: 24px 16px;
        img {
          margin-bottom: 16px;
        }
        h4 {
          color: #FFF;
          font-size: 20px;
          font-weight: 500;
          line-height: 156%;
          letter-spacing: 2px;
          margin-bottom: 10px;
        }
        p {
          color: #FFF;
          font-size: 16px;
          font-weight: 400;
          line-height: 156%;
          letter-spacing: 1.6px;
          margin-bottom: 0;
        }
      }
    }
  }

}

#branches {
  padding-block: 0 40px;
  .container {
    display: flex;
    gap: 21px;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      h2 {
        color: #4B4B4B;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 4px;
        margin-bottom: 30px;
      }
      .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 48px;
        row-gap: 24px;
        margin-bottom: 30px;

        .btn {
          padding: 4px 8px;
          display: flex;
          align-items: center;
          gap: 16px;
          color: #4B4B4B;
          font-size: 18px;
          font-weight: 500;
          line-height: 156%;
          letter-spacing: 1.8px;
        }
      }
    }

  }
}

}
