<section id="hero">
  <div class="container">
    <div class="texts">
      <span>GR Soluções Agropecuárias</span>
      <h1>
        <span>Consultoria</span> e <br /> assessoria para <br /> <span>produtores rurais.</span>
      </h1>
      <p>
        Você quer aumentar a sua produtividade e <br /> melhorar a sua gestão rural?
      </p>
      <button class="btn btn-transp">
        Entrar em contato!
      </button>
    </div>
  </div>
  <img class="home-img" src="assets/home-img.png" alt="">
  <div class="validations">
    <div>
      <h4>+20k</h4>
      <span>Produtores atendidos</span>
    </div>
    <div>
      <h4>+10</h4>
      <span>Produtores atendidos</span>
    </div>
  </div>
</section>
<section id="what-we-do">
  <div class="container">
    <img src="assets/what-we-do.png" alt="Duas mulheres sorridentes vendo um notebook, letras abaixo na imagem dizendo produtor rural">
    <div class="texts">
      <h2>O que fazemos:</h2>
      <p>t O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro.</p>
      <button class="btn btn-transp">Entrar em contato!</button>
    </div>
  </div>
</section>
</section>
