/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow: overlay;
}

section {
  overflow-x: hidden;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 50px;
  border-radius: 32px;
  line-height: 22px;
  color: #121313;
  font-weight: 500;
}

.btn-transp {
  color: #121313;
  background-color: transparent;
  border: 2px solid #166A48;
  transition: all 0.3s ease-in-out;
}

.btn-transp:hover {
  color: #121313 !important;
  background-color: white !important;
  border-color: #166A48 !important;
}

.btn-transp:disabled {
  color: #121313 !important;
  pointer-events: unset;
  cursor: not-allowed;
  background-color: white !important;
  border-color: #166A48 !important;
  opacity: 1 !important;
}

.btn-green {
  color: white;
  background-color: #166A48;
  border: 2px solid #166A48;
  transition: all 0.3s ease-in-out;
}

.btn-green:hover {
  color: white !important;
  background-color: #166A48 !important;
  border-color: #166A48 !important;
}

.btn-green:disabled {
  color: white !important;
  pointer-events: unset;
  cursor: not-allowed;
  background-color: #166A48 !important;
  border-color: #166A48 !important;
  opacity: 1 !important;
}

.container {
  padding-inline: 0 !important;
}
.right-container, .left-container {
  width: 100%;
}
.right-container {
  margin-right: 0 !important;
}
.left-container {
  margin-left: 0 !important;
}

@media (max-width: 575px) {
  .container {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (min-width: 576px) {
  .container, .right-container, .left-container {
    max-width: 544px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
  }
  .right-container, .left-container {
    width: 352px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 866px;
  }
  .right-container, .left-container {
    width: 433px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 948px;
  }
  .right-container, .left-container {
    width: 474px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1188px;
  }
  .right-container, .left-container {
    width: 594px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1348px;
  }
  .right-container, .left-container {
    width: 674px;
  }
}
